.AboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.About {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
}

.About__title {
    padding-top: 24px;
    line-height: 1em;
}

.About__img {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    overflow: hidden;
    position: relative
}

.About__bio {
    padding: 20px 0px;
}

@media (max-width: 750px) {
    .About__img {
        width: 200px;
        height: 200px;
    }
}