.Projects {
    padding-top: 100px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    padding-top: 12px;
}

@media (max-width: 750px) {
    .projects {
        padding-top: 4px;
        display: block;
    }
}